@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700&display=swap');

body {
  min-height: 100vh;
  background-color: #004178;
  background-image: url('../images/background.svg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: $color_white;
  letter-spacing: 2px;
  font-family: 'Noto Sans TC', sans-serif;
}

$title-font-size: ("1": 2.5em,
  "2": 2.2em,
  "3": 1.8em,
  "4": 1.5em,
  "5":1.25em,
  "6": 0.9em);

@each $name,
$size in $title-font-size {
  h#{$name} {
    font-size: $size;
  }
}
