@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.navbar__container, .header__container, .container {
  width: 80%;
  max-width: 1280px;
  margin: auto;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar__container, .header__container, .item-block__items > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  min-height: 100vh;
  background-color: #004178;
  background-image: url("../images/background.svg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: #FFFFFF;
  letter-spacing: 2px;
  font-family: 'Noto Sans TC', sans-serif;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2.2em;
}

h3 {
  font-size: 1.8em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.25em;
}

h6 {
  font-size: 0.9em;
}

.navbar {
  position: relative;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 80px;
  z-index: 10;
}

.navbar__container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar__container a {
  color: #FFFFFF;
  text-decoration: none;
}

.navbar__logo {
  font-size: 1.25rem;
}

.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 60px;
  min-height: 100vh;
}

.header__container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__container aside {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 1.5rem;
}

.header__container aside h1 {
  margin: 1rem 0;
}

.header__container img {
  width: 60%;
}

.header__cover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

.footer {
  margin-top: 80px;
  height: 120px;
  border-top: 1px solid rgba(255, 255, 255, 0.373);
  text-align: center;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -10px;
}

.row__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.row__col--1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  padding: 10px;
}

@media all and (max-width: 556px) {
  .row__col--1 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.row__col--2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding: 10px;
}

@media all and (max-width: 556px) {
  .row__col--2 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.row__col--3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33333%;
          flex: 0 0 33.33333%;
  padding: 10px;
}

@media all and (max-width: 556px) {
  .row__col--3 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.row__col--4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  padding: 10px;
}

@media all and (max-width: 556px) {
  .row__col--4 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.row__col--5 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  padding: 10px;
}

@media all and (max-width: 556px) {
  .row__col--5 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.row__col--6 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16.66667%;
          flex: 0 0 16.66667%;
  padding: 10px;
}

@media all and (max-width: 556px) {
  .row__col--6 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.row__col--7 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 14.28571%;
          flex: 0 0 14.28571%;
  padding: 10px;
}

@media all and (max-width: 556px) {
  .row__col--7 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.row__col--8 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 12.5%;
          flex: 0 0 12.5%;
  padding: 10px;
}

@media all and (max-width: 556px) {
  .row__col--8 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.row__col--9 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 11.11111%;
          flex: 0 0 11.11111%;
  padding: 10px;
}

@media all and (max-width: 556px) {
  .row__col--9 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.row__col--10 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10%;
          flex: 0 0 10%;
  padding: 10px;
}

@media all and (max-width: 556px) {
  .row__col--10 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.row__col--11 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 9.09091%;
          flex: 0 0 9.09091%;
  padding: 10px;
}

@media all and (max-width: 556px) {
  .row__col--11 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.row__col--12 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 8.33333%;
          flex: 0 0 8.33333%;
  padding: 10px;
}

@media all and (max-width: 556px) {
  .row__col--12 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.item-block {
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-size: 1.1rem;
}

.item-block__title {
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0.7);
  color: #004178;
  font-weight: 500;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.item-block__items > li {
  padding: 25px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.373);
}

.item-block__items > li:nth-child(1) {
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0.7);
  color: #004178;
  font-weight: 500;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.item-block__items > li > span {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 10px 20px;
}

.item-block__items > li > span:nth-child(1) {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}
/*# sourceMappingURL=style.css.map */